.App{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(242, 227, 246);
}
input{
  padding: 8px;
  margin: 10px;
  border-radius: 2px;
}
button{
  padding: 8px;
  margin-left: 5px;
  border-radius: 3px;
  background-color: rgb(198, 55, 186);
}
button:hover{
  background-color: red;
}
ul{
  text-align: left;
}